<body>
<div class="container">
    <h1>Minhas tarefas</h1>
    <table *ngIf="tarefas">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descrição</th>
                <th>Prioridade</th>
                <th>Status</th>
                <th>Data de Inicio</th>
                <th>Data de Conclusão</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarefa of tarefas">    
                <td>{{ tarefa.titulo}}</td>
                <td>{{ tarefa.descricao}}</td>
                <td>{{ tarefa.prioridade}}</td>
                <td>{{ tarefa.status}}</td>
                <td>{{ tarefa.dataDeInicio | date : 'dd/MM/yyyy'}}</td>
                <td>{{ tarefa.dataDeConclusao | date : 'dd/MM/yyyy'}}</td>
                <td *ngIf="tarefa.status == 'Não Iniciada'">
                    <button class="iniciarButton" (click)="iniciarTarefa(tarefa.id)">Iniciar</button>
                </td>
                <td *ngIf="tarefa.status == 'Em Andamento'">
                    <button class="concluirButton" (click)="concluirTarefa(tarefa.id)">Concluir</button>
                </td>
                <td><button class="deleteButton" (click)="deletarTarefa(tarefa.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!tarefas">Você não possui nenhuma tarefas</p>
</div>
</body>